<!DOCTYPE html>
<html>

<head>
<title>Insert Clever Name</title>
<link rel="stylesheet" type="text/css" href="/static/template.css">
<link rel="shortcut icon" href="resources/image/icon.ico" >
</head>

<body background="resources/image/gabe.gif" >
<audio src="resources/music/miracle.mp3" autoplay loop>
<p>If you see this, you're a pleb, and you need to update your browser.</p>
</audio>
<div>
<img src="resources/image/toad.gif" align= "left, top" style="width:200px;height:200px;">

<img src="resources/image/toad.gif" align ="right" style="width:200px;height:200px;">
</div>


<H1 align ="center">
THE MOST MLG MOUNTAIN DEW PAGE EVER

</H1>


<p style="text-align:center;"><a href="api.py" class="button large hpbottom">Click here to go to the API</a></p>






<div>
<img src="resources/image/toad.gif" align= "left" style="width:200px;height:200px;">

<img src="resources/image/toad.gif" align ="right" style="width:200px;height:200px;">
</div>

<p align = "center">Made by John G. Wilson :D</p
</body>


<html>
